<!DOCTYPE html>
<html>
<head>
	<script src="./../Controller/myController.js"></script>
	<script src="./../Model/myModel.js"></script>
	<link rel="stylesheet" type="text/css" href="./style.css"/>
	
	</head>
<body>
	<div>
	<div id="div1">
<label>Last Name:</label>
<input type="text" id="lname">
<button type="button" onclick="Search()">Search</button>
</div>

<div id="stu" style="float:left;"><b>Students Found:</b>
<ul id="myList">
  
</ul>
</div>

<div id="rec" style="float:right;">
	<label id="studentlabel" style="float:left;font-weight: bold;padding-top: 80px;padding-right: 0px"></label><br>
	<table id="t1" align="right" cellpadding="0">
		<thead>
  <tr>
    <th>Course</th>
    <th>GPA</th> 
  </tr>
</thead>
<tbody id="tableBody">
	</tbody>
 
</table>
</div>
</div>



</body>
</html>